#cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#answer {
    font-size: 20px;
    text-align: center;
}
label {
    margin: 10px;
}
input {
    margin: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#btn {
    margin: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#color {
    color: #FAFF00;
    font-weight: bold;
}
