body {
    margin: 0px;
    padding: 0px;
    background-color: #1082cc;
    color: #fff;
    display: flex;
    align-items: center;
}
#cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 10%;
}
