body {
    margin: 0px;
    padding: 0px;
    background-color: #1082cc;
    color: #fff;
    display: flex;
    align-items: center;
}
#cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: "Comic Sans MS", sans-serif;
    margin-top: 5%;
    margin-bottom: 10%;
}
#task {
    max-width: 60%;
    min-width: 400px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}
.btn {
    margin: 5px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    min-height: 40px;
    border-radius: 5px;
    border: solid 1px #666;
    background-color: #efefef;
    color: #1082cc;
    cursor: pointer;
}
img {
    margin: 0px 20px;
    max-width: 500px;
    min-width: 200px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #1052cc77;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #efefefbb;
}
.note {
    font-size: 16px;
    color: #c7e7ff;
}
#images {
    padding: 10px 20px;
    margin-bottom: 30px;
    max-width: 90%;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden {
    display: none !important;
}

@media only screen and (max-width: 800px) {
    #task {
        min-width: 300px;
        font-size: 16px;
    }
    .btn {
        font-size: 14px;
        width: 70px;
        min-height: 30px;
    }
    img {
        margin: 20px 0px;
        max-width: 300px;
        min-width: 150px;
        width: 90% !important;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
    .note {
        font-size: 12px;
        color: #c7e7ff;
    }
    #images {
        padding: 20px 10px;
        margin-bottom: 30px;
        max-width: 90%;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}