.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}
.inline-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}
.text {
    margin: 5px;
    font-family: "Comic Sans MS", sans-serif;
    color: #1082cc;
    background-color: #efefef;
    font-size: 14px;
    width: 90%;
    min-height: 25px;
    text-align: center;
    border-radius: 5px;
    border: 0px;
}
.wrap35 {
    width: 35%;
}
.wrap60 {
    width: 60%;
}
.wrap90 {
    width: 90%;
}
.wrap100 {
    width: 100%;
}
.hero {
    margin-bottom: 20px;
}
.hidden {
    display: none;
}
progress::-webkit-progress-bar {
    background-color: #efefef;
    border-radius: 10px;
}
progress::-webkit-progress-value {
    border-radius: 10px;
}
.pure::-webkit-progress-value {
    background-image: linear-gradient(#ff6600, #ff0000);
}
.medium::-webkit-progress-value {
    background-image: linear-gradient(#ffff00, #ffaa00);
}
.strong::-webkit-progress-value {
    background-image: linear-gradient(#48ff00, #00b828);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #1052cc77;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #efefefbb;
}