@media (max-width: 1024px) {
    h1 {font-size: 26px;}
    h3 {font-size: 18px;}
    ol {font-size: 14px;}
    label {font-size: 14px;}
    #description {font-size: 16px;}
    p.name {font-size: 16px;}
    .text {font-size: 12px;}
    input[type="image"] {max-height: 150px;}
    #scene {max-height: 180px;}
    #strenght {
        width: 90%;
        max-width: 600px;
    }
    #rules {max-width: 90%;}
    #main-cont {
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }
    #power-object-cont {
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }
    #object {max-width: 50px;}
    ::-webkit-scrollbar {width: 7px;}
    ::-webkit-scrollbar-track {
        background-color: #1052cc77;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #efefefbb;
    }
}