@font-face {
    font-family: "Nunito";
    src: url(/fonts/Nunito.ttf);
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url(/fonts/Nunito-Italic.ttf);
    font-style: italic;
}
/* шрифт */
* {
    font-family: "Nunito", Verdana, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #1082cc;
    color: #fff;
    display: flex;
    align-items: center;
}
#cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
}
#answer {
    font-size: 20px;
    text-align: center;
}
label {
    margin: 10px;
    font-size: 28px;
    font-weight: bold;
}
input {
    margin: 5px;
    color: #1082cc;
    font-size: 18px;
    width: 400px;
    height: 30px;
    text-align: center;
}
#btn {
    margin: 5px;
    font-size: 18px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #666;
    background-color: #efefef;
    color: #1082cc;
    cursor: pointer;
}
#color {
    color: #FAFF00;
    font-weight: bold;
}
#good {
    font-weight: bold;
    font-size: 24px;
}
