body {
    margin: 0px;
    padding: 0px;
    padding-top: 5%;
    background-color: #212121;
    color: #ff9a00;
    display: flex;
    align-items: center;
}
.cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.small {
    font-size: 16px;
    color: #efefef;
}
#prompt {
    font-size: 20px;
    text-align: center;
    width: 50%;
    min-width: 300px;
}
#btn, #bt2, #btn3 {
    margin: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    width: 200px;
    min-height: 40px;
    border-radius: 5px;
    border: solid 1px #666;
    background-color: #ff9a00;
    color: #efefef;
    cursor: pointer;
}
.prompt-img {
    width: 300px;
    border-radius: 10px;
    border: solid 3px #ff9a00;
}
.wide-prompt {
    width: 50%;
    min-width: 300px;
    margin-bottom: 70px;
}
.question {
    color: #efefef;
    font-size: 22px;
}
#code, #ulika {
    margin: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #ff9a00;
    font-size: 18px;
    width: 200px;
    height: 30px;
    text-align: center;
}
#spider {
    max-width: 350px;
    width: 27%;
    position: fixed;
    bottom: -9%;
    right: -7%;
}
#pumpkin {
    max-width: 400px;
    width: 30%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #3131314c;
    border-radius: 10px;
    /* border: 1px solid rgb(226, 209, 220); */
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ff9a00;
    /* border: 1px solid rgb(226, 209, 220); */
}