body {
    margin: 0px;
    padding: 0px;
    background-color: #212121;
    color: #ff9a00;
    display: flex;
    align-items: center;
}
.cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 10%;
}
#prompt {
    font-size: 20px;
    text-align: center;
}
#btn {
    margin: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    width: 200px;
    min-height: 40px;
    border-radius: 5px;
    border: solid 1px #666;
    background-color: #ff9a00;
    color: #efefef;
    cursor: pointer;
}
#prompt-img {
    width: 300px;
    border-radius: 10px;
    border: solid 3px #ff9a00;
}
#code {
    margin: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #ff9a00;
    font-size: 18px;
    width: 200px;
    height: 30px;
    text-align: center;
}
#spider {
    width: 300px;
    position: fixed;
    bottom: -30px;
    right: -30px;
}
#pumpkin {
    width: 250px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}